@media (min-width:1200px) {
	.tof2 {
		width: 100%;
		margin-top: 20px;
	}

	.definition {
		max-width: 50%;
		margin: 25%;
	}

	.tof {
		max-width: 50%;
		margin-left: 20%;
	}

	.entrepreneuriat img {
		max-width: 40%;
		margin-left: 100px;
	}

	.entrepreneuriat p {
		max-width: 50%;
	}

	.incubator img {
		max-width: 40%;
		margin-left: 100px;
	}

	.incubator p {
		max-width: 50%;
		margin-top: 30px;
	}

	.edf img {
		margin-left: 27%;
	}



}




* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: arial, sans-serif;
}

/************** stylisation de la navbar **********/

.nabar-brand img {
	width: 100px;
	margin: 15PX;
}

.navbar-brand {
	margin-left: 15px;
	padding: 0 20;

}

.navbar-nav {
	align-items: center;

}

.navbar .navbar-nav .nav-link {
	color: black;
	font-size: 30px;
	padding: 5 20;

}

ul li a:hover {

	background-color: #FEAE4A;
	border-radius: 20px;
	transform: translateY(3px);
	transition: 1s;
}

.navbar {
	background-color: #c7b79c96;

}

div .img {
	align-items: center;
}

.drapeau {

	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	width: 90%;
}

.drapeau img {
	width: 70px;
	margin: 0 5px;
}

/*************** fin de la navba ***********/
/******* traitement du hr *******/

.break-first {

	background-color: #232D84;
	color: #232D84;
	width: 700px;
	height: 5px;
	justify-content: center;
	border: none;
	margin: 10px auto;
}

/******* fin du traitement du hr ******/

/* page accueill */
.tof2 {
	content: "";
	margin-top: 20px;
}

.logo {
	width: 20%;
	margin-left: 50%;
	margin-top: 30px;
}

.log {
	margin-left: 60%;

}

.definition {
	width: 100%;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.tof3 {
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: 100px;


}

.tof4 {
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: 100px;


}

.tof {
	max-width: 50%;
}

.description {
	max-width: 50%;
	margin-left: 10px;
}

.s1 button {
	width: 150px;
	margin-left: 50%;
	margin-right: 20%;
	margin-top: 50px;
	padding: 10px;
	background-color: #E40C14;
	color: white;

}

.programme p {
	text-align: center;
	color: white;
	background-color:#232D84;
	padding: 10px;
	margin: 100px;
	font-size: 40px;
}

.tof5 {
	width: 100%;
}

.tof8 {
	width: 100%;
}

.labusiness {
	max-width: 100%;
	height: 30%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	position: absolute;
	z-index: 3;
	margin-top: 15%;



}

.descrip {
	max-width: 50%;
	height: 200px;
	background-color: rgba(255, 255, 255, 0.302);
}

.descrip3 {
	margin-top: 40px;
}

.descrip2 {
	margin-bottom: 40px;
}

.business {
	max-width: 50%;
	height: 30%;
	background-color: rgba(255, 255, 255, 0);
}

.s2 {
	position: relative;
	z-index: 2;
}

.energy {
	background-color: #EA551C;
	height: 50px;
	width: 300px;




}

.healt {
	background-color: #03A1E4;
	height: 50px;
	width: 300px;
	margin-top: 30px;


}

.agri {
	background-color: #FBB02D;
	height: 50px;
	width: 300px;
	margin-top: 30px;


}

.formation p {
	text-align: center;
	color: white;
	background-color:#232D84;
	padding: 10px;
	margin: 100px;
	font-size: 40px;
}

.entrepreneuriat {
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;

}

.entrepreneuriat p {
	width: 100%;
	margin-top: 30px;
}

.entrepreneuriat img {
	width: 100%;
}

.s3 button {
	width: 150px;
	margin-left: 50%;
	margin-right: 20%;
	margin-top: 50px;
	padding: 10px;
	background-color: #E40C14;
	color: white;


}

.ENS p {
	text-align: center;
	color: white;
	background-color:#232D84;
	padding: 10px;
	margin: 100px;
	font-size: 40px;
}

.incubator {
	display: flex;
	flex-wrap: wrap;
}

.incubator p {
	width: 100%;
	margin-top: 30px;
}

.incubator img {
	width: 100%;
}

.s4 button {
	width: 150px;
	margin-left: 50%;
	margin-right: 20%;
	margin-top: 50px;
	padding: 10px;
	background-color: #E40C14;
	color: white;
}

/* .s5 p {
	text-align: center;
	width: 90%;
	background-color: #232D84;
	height: 100px;
	margin: 100px;
	color: #fff;
}

.s5 {
	position: relative;
	z-index: 2;
}


.s7 p {
	text-align: center;
	width: 90%;
	background-color: #232D84;
	height: 100px;
	margin: 100px;
	color: #fff;
} */

/********** traitement du footer *********/

.footer {

	background-color: antiquewhite;

}

/************************* debut de traitement de la section .partenaires1 **********************/

.partenaires1 .s6 {

	text-align: center;
	padding: 30px;
	background-color: #232D84;
	font-size: 40px;
	color: white;
	margin: 100px;


}

/******************************* debut de traitement de la section medias *************************/


.journaux {

	text-align: center;
	background-color: #232D84;
	color: white;
	font-size: 40px;
	padding: 5px;
	margin: 100px;
}

.s7 .container {

	background-color: white;
	padding: 30px;

}


/******************************* debut de traitement de la section newsletter ******************/


.newsletter .news {

	text-align: center;
	color: white;
	background-color:#232D84;
	padding: 10px;
	margin: 100px;
}









/********************************* debut dr traitement de la section lien ************************/

.lien {

	background-color: #c7b79c96;
	padding: 10px;
	text-align: center;
}

.reseaux a i {

	font-size: 70px;
	color: #232D84;
	padding: 30px;
}

.reseaux a i:hover {

	font-size: 75px;
	color: #019FE3;
	transition: 0.25s;

}

.reseaux {
	margin-left: 50%;
	margin-right: 50%;
	display: flex;
	justify-content: space-evenly;
}

.lg_foot {

	margin-bottom: 30px;
}

.copy {

	font-size: 25px;
	color: #232D84;
}

.arrow {

	width: 55px;
	height: 55px;
	position: fixed;
	background-color: #232D84;
	bottom: 25px;
	right: 50px;
	border-radius: 50%;
}

.arrow i {
	width: 55px;
	position: fixed;
	color: white;
	bottom: 40px;
	right: 65px;
}




.form {
	margin-left: 40%;
}

.form input {
	width: 400px;
	height: 50px;
	border-top: none;
	border-right: none;
	border-left: none;
	background-color: #c7b79c64;

}

.form input:focus {

	background-color: white;
	color: #232D84;
}

.checkbox {
	margin-left: 40%;
	margin-top: 20px;
	display: flex;
	margin-bottom: 20px;

}

.checkbox input {
	padding: 10px;
}

.checkbox button {
	text-align: center;
	margin-left: 20px;
	margin-right: 150px;
	background: #26E6F2;
	padding: 10px;
	border: none;


}










/* animation */
#box div {
	width: 60px;
	height: 60px;
	background-color: transparent;
	border: 3px solid rgb(255, 255, 255, 0.8);
	position: relative;
	margin-top: 20px;
}

.box div:nth-child(1) {
	animation: animate 7s linear infinite;
}

.box div:nth-child(2) {
	animation: animate 7s linear infinite;
}

.box div:nth-child(3) {
	animation: animate 9s linear infinite;
}

.box div:nth-child(4) {
	animation: animate 10s linear infinite;
}

.box div:nth-child(5) {
	animation: animate 6s linear infinite;
}

.box div:nth-child(6) {
	animation: animate 12s linear infinite;
}

.box div:nth-child(7) {
	animation: animate 15s linear infinite;
}

.box div:nth-child(8) {
	animation: animate 16s linear infinite;
}

.box div:nth-child(9) {
	animation: animate 9s linear infinite;
}

.box div:nth-child(10) {
	animation: animate 5s linear infinite;
}

@keyframes animate {
	0% {
		transform: scale(0) translateY(0) rotate(0);
		opacity: 0;
	}

	100% {
		transform: scale(1.3) translateY(-90px) rotate(0);
		opacity: 1;
	}
}

/* fin animation */